@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html,
body {
    height: 100%;
}


.flex-section{

    display: flex;
    flex-direction: row;
}

#header {
    width: 100%;
    background:linear-gradient(to right,#fff,#f00 );
    color: #fff;
    font-size: 25px;
  
    font-weight: bolder;
    text-align: center;
    border-bottom: 1px solid #fff;
    text-shadow: 1px 1px 1px #111111;
}

#menu a:hover {
    background-color: #fff;
    color: #f00;
    text-decoration: underline;
    text-decoration-color: #000;
}

#menu-mobile{
    display: none;
}

.menu-logo{
    display: none;
}

#menu {
    width: 100%;
    font-size: 20px;
    font-weight: bolder;
    
    background-image: url(../images/logo.jpeg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 230px;
    border-bottom: 1px solid;
    text-align: center;
    border-bottom: 1px solid #fff;
    background-color: #fff;
    color: #d64646;
    text-shadow: 1px 1px 1px #111111;
}

ul li {
    display: inline-block;
    padding: 25px;
}

#menu img {
    width: 40px;
}

::-moz-placeholder {
    color: rgb(134, 4, 4);
}

a {
    text-decoration: none;
    color: #000;

    font-weight: bolder;
}

.banner {
    width: 100%;
    height: 557px;
    background-image: url(https://media.gazetadopovo.com.br/rodrigo-constantino/2016/09/blog-1181-1024x671-4673161e.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;

}
/***************** efeito do banner ******************/
.overplay{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
}

.overplay h1{
        color: #fff;
        text-align: center;
        margin-top: 10%;
        font-size: 50px;
  
}


/********************************** formatação da sessao 1 *******************************/
.sessao1{
        width: 80%;
  
        margin: 0 80px;
      
       border-bottom: 2px solid;
}

.conteudo1 h2{
        font-size: 50px;
       
        margin-top: 20px;
        color: #000;
}

.conteudo1 p{
        font-size: 25px;
        margin: 20px 0;
       
      
      
        font-weight: 400;
}

.foto-flex{
    width: 100%;
    margin: 30px 60px;
    position: relative;
    top: 50%;
    
   
   
}

.foto-flex img{
        width:calc(100% + 50px);
        margin-top: 20px;
        margin-bottom: 10px;
        border-radius: 10px;
        box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.7)
}

/************************************ formatação da sessao2**************************************************/
.sessao2 .conteudo2{
    width: 33.3%;
    float: left;
    padding: 40px 2%;

}

.titulo-sessao2{
        padding: 0 2%;
        text-align: center;
        margin-top: 40px;
        color: #000;
        font-size: 45px;
       

}



.conteudo2 i{
    font-size: 200px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.conteudo2 p{
        text-align: center;
        color:#000;
        font-size: 25px;
    
        font-weight: bold;
       
}

/****************************** botao doar ****************************/

.btn{
    width: 100%;
    text-align: center;
    padding: 20px;

}

.btn input{
        width: 20%;
        padding: 20px;
        margin-top: 30px;
        border-radius: 5px;
        outline: 0;
        border: 0;
        background-color:#f00 ;
        color: #fff;
        font-size: 30px;
       
        cursor: pointer;
}

.btn input:hover{
        background-color:#7c2121;
}


.rodape{
    background:linear-gradient(#fff,#f00 );
    width: 100%;
    padding: 40px;
    text-align: center;
    border-top: 10px solid #000;
    
   
}
.conteudo-rodape h3{
    font-size: 25px;
}

.conteudo-rodape p{
    font-size: 18px;
    margin: 10px 0;
}

.conteudo-rodape a{
    color: rgb(160, 156, 156);
}

.conteudo-rodape a:hover{
    text-decoration: underline;
    color: #fff;
}
.conteudo-rodape img{
        width: 30px;
        height: 30px;
        position: relative;
        top: 5px;
        margin-left: 5px;
       

}

@media screen and (max-width:510px){

    #menu nav {
        display: none;
    }

    #menu-mobile {
        display: block;

    }

    #menu-mobile img{
       display: inline-block;
       margin-left:45%;
       width: 50px;
       margin-top: 15px;
    }

    #menu-mobile ul{
        background-color: #f00;
        display: none;
        
        
    }

    #menu-mobile li{
        display: block;
        text-align: center;
        font-size: 17px;
        border-bottom: 1px solid #fff;
    }

    #menu-mobile a{
        color: #fff;
    }

    .menu-logo{
        display: block;
    }

    .menu-logo i {
        font-size: 25px;
        background-color: #111;
        padding: 16px;
        color: #fff;
        cursor: pointer;
      
    }

    .menu-logo img{
        width: 50px;
        margin-left: 32%;
        margin-top: 10px;
    }

    .banner > .overplay h1{
        font-size: 1.8rem;
        position: static;
        margin-top: 30%;
    }

    .banner{
        height: 400px;
    }

    .sessao1{
        width: 100%;
        margin: 0;
    }

    .flex-section{
        display: block;
    }

    .conteudo1{
        width: 100%;
    }


    .foto-flex{
        width: 100%;
        margin: 0;
        position: static;
        padding: 0 2%;
        
    }

    .foto-flex img{
        width: 100%;
        margin-bottom: 0;
        border-radius: 0;
        box-shadow: 0px 0px 0px 0px;
        
    }

    .sessao2 h3{
        font-size: 22px;
    }

    .sessao2 .conteudo2{
        width: 100%;
        float: none;
        padding: 0 2%;
    }

    .conteudo2{
        margin: 25px 0 ; 
    }

    .conteudo2 i{
        font-size: 100px;
    }

    .btn{
        padding: 0;
    }

    .btn input{
        width: 100%;
        border-radius: 0;
    }

    
    .conteudo-rodape h3{
        font-size: 1rem;
    }
}
    

