@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
   
}



html,
body {
    height: 100%;
}
 /* menu */
#header {
    width: 100%;
    background:linear-gradient(to right,#fff,#f00 );
    color: #fff;
    font-size: 25px;

    font-weight: bolder;
    text-align: center;
    border: 0;
    text-shadow: 1px 1px 1px #111111;
}


#menu-mobile{
    display: none;
}

.menu-logo{
    display: none;
}


#menu a:hover {
    background-color: #fff;
    color: #f00;
    text-decoration: underline;
    text-decoration-color: #000;
}

#menu {
    width: 100%;
    font-size: 20px;
    font-weight: bolder;

    background-image: url(../images/logo.jpeg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 230px;
    border-bottom: 1px solid;
    text-align: center;
    
    background-color: #fff;
    color: #d64646;
    text-shadow: 1px 1px 1px #111111;
}

ul li {
    display: inline-block;
    padding: 25px;
}

#menu img {
    width: 40px;
}



.control {
    width: 50%;
    float: left;
    margin-top: 5px;
}

/* parte direta da tela */
.control h2{
        color: #f00;
        font-size: 40px;
        font-style: normal;
    
        text-shadow: 1px 1px 1px #111111;
}

.control iframe{
        width: 90%;
        height: 380px;
        border: 10px solid rgba(206, 198, 198, 0.4);
        margin-top: 10px;
       
        
}

/* parte esquerda ta tela */

h1 {
    margin-left: 55px;
    margin-top: 15px;
    color: #f00;
    font-size: 50px;
    font-style: normal;

    text-shadow: 1px 1px 1px #111111;
}



form input {
    width: 50%;
    height: 30px;
    margin-top: 20px;
    margin-left: 50px;
    border: 1px solid #f00;
    outline: 0;
    padding-left: 10px;
}

textarea {
    resize: none;
    height: 140px;
    width: 50%;
    border: 1px solid #f00;
    margin-top: 20px;
    margin-left: 50px;
    outline: 0;
    padding-left: 10px;
    padding-top: 5px;
}

form input[type="submit"] {
    width: 50%;
    height: 55px;
    font-size: 20px;
    margin-left: 50px;
    margin-bottom: 10px;
    background-color: #f00;
    color: #fff;

    cursor: pointer;
    text-shadow: 1px 1px 1px #111111;
}

form input[type="submit"]:hover {
    background-color: rgb(88, 4, 4);
}

form input[type="text"]:hover {
    outline: 0;
}

::-moz-placeholder {
    color: rgb(134, 4, 4);
}

a {
    text-decoration: none;
    color: #000;
 
    font-weight: bolder;
}

.rodape{
    background:linear-gradient(#fff,#f00 );
    width: 100%;
    padding: 40px;
    text-align: center;
    border-top: 10px solid #000;
 
    clear: both;
   
}
.conteudo-rodape h3{
    font-size: 25px;
}

.conteudo-rodape p{
    font-size: 18px;
    margin: 10px 0;
}

.conteudo-rodape a{
    color: rgb(160, 156, 156);
}

.conteudo-rodape a:hover{
    text-decoration: underline;
    color: #fff;
}
.conteudo-rodape img{
        width: 30px;
        height: 30px;
        position: relative;
        top: 5px;
        margin-left: 5px;
       

}

@media screen and (max-width:510px){

 
    #menu nav {
        display: none;
    }

    #menu-mobile {
        display: block;
        

    }

    #menu-mobile img{
       display: inline-block;
       margin-left:45%;
       width: 50px;
       margin-top: 15px;
    }

    #menu-mobile ul{
        background-color: #f00;
        display: none;
        
        
    }

    #menu-mobile li{
        display: block;
        text-align: center;
        font-size: 17px;
        border-bottom: 1px solid #fff;
    }

    #menu-mobile a{
        color: #fff;
    }

    .menu-logo{
        display: block;
    }

    .menu-logo i {
        font-size: 25px;
        background-color: #111;
        padding: 16px;
        color: #fff;
        cursor: pointer;
      
    }

    .menu-logo img{
        width: 50px;
        margin-left: 32%;
        margin-top: 10px;
    }

    .control{
        width: 100%;
        float: none;
        margin-top: 40px;
    }

    h1{
        margin-left: 0;
        font-size: 25px;
        text-align: center;
    }

    form{
        width: 100%;
        text-align: center;
        
    }

    form input{
        width: 90%;
        margin-left: 0;

    }

    form input[type=submit]{
        margin-left: 0;
        width: 100%;
    }

   textarea{
        width: 90%;
        margin-left: 0;
    }

    .control iframe{
        width: 100%;
        margin-top: 40px;
    }

    .control h2{
        margin-left: 0;
       
        font-size: 25px;
        text-align: center;
    }

    .conteudo-rodape h3{
        font-size: 1rem;
    }
}
    