* {
    margin: 0;
    padding: 0;
}

body {
    background:linear-gradient(to left,#fff,#f00 );
   background-clip: padding-box;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}

html,
body {
    height: 100%;
}
 /* menu */
#header {
    width: 100%;
    background:linear-gradient(to right,#fff,#f00 );
    color: #fff;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    text-align: center;
    border-bottom: 1px solid #fff;
    text-shadow: 1px 1px 1px #111111;
}

#menu a:hover {
    background-color: #fff;
    color: #f00;
    text-decoration: underline;
    text-decoration-color: #000;
}

#menu {
    width: 100%;
    font-size: 20px;
    font-weight: bolder;
    font-family: Verdana, 'Times New Roman', Geneva, Tahoma, sans-serif;
    background-image: url(../images/logo.jpeg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 230px;
    border-bottom: 1px solid;
    text-align: center;
    border-bottom: 1px solid #000;
    background-color: #fff;
    color: #d64646;
    text-shadow: 1px 1px 1px #111111;
}

ul li {
    display: inline-block;
    padding: 25px;
}

#menu img {
    width: 40px;
}



.control {
    width: 50%;
    float: left;
    margin-top: 5px;
}

/* parte direta da tela */
.control h2{
        color: #f00;
        font-size: 40px;
        font-style: normal;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-shadow: 1px 1px 1px #111111;
}

.control iframe{
        width: 500px;
        height: 380px;
        border: 10px solid rgba(206, 198, 198, 0.4);
        margin-top: 10px;
        background-clip: padding-box;
        
}

/* parte esquerda ta tela */

h1 {
    margin-left: 55px;
    margin-top: 15px;
    color: #f00;
    font-size: 50px;
    font-style: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 1px 1px 1px #111111;
}



form input {
    width: 50%;
    height: 30px;
    margin-top: 20px;
    margin-left: 50px;
    border: 1px solid #f00;
    outline: 0;
    padding-left: 10px;
}

textarea {
    resize: none;
    height: 140px;
    width: 50%;
    border: 1px solid #f00;
    margin-top: 20px;
    margin-left: 50px;
    outline: 0;
    padding-left: 10px;
    padding-top: 5px;
}

form input[type="submit"] {
    width: 50%;
    height: 55px;
    font-size: 20px;
    margin-left: 50px;
    margin-bottom: 10px;
    background-color: #f00;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
    text-shadow: 1px 1px 1px #111111;
}

form input[type="submit"]:hover {
    background-color: rgb(88, 4, 4);
}

form input[type="text"]:hover {
    outline: 0;
}

::-moz-placeholder {
    color: rgb(134, 4, 4);
}

a {
    text-decoration: none;
    color: #000;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
}

.rodape{
    background:linear-gradient(#fff,#f00 );
    width: 100%;
    padding: 40px;
    text-align: center;
    border-top: 10px solid #000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    clear: both;
   
}
.conteudo-rodape h3{
    font-size: 25px;
}

.conteudo-rodape p{
    font-size: 18px;
    margin: 10px 0;
}

.conteudo-rodape a{
    color: rgb(160, 156, 156);
}

.conteudo-rodape a:hover{
    text-decoration: underline;
    color: #fff;
}
.conteudo-rodape img{
        width: 30px;
        height: 30px;
        position: relative;
        top: 5px;
        margin-left: 5px;
       

}
    