* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

#header {
    width: 100%;
    background:linear-gradient(to right,#fff,#f00 );
    color: #fff;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    text-align: center;
    border-bottom: 1px solid #fff;
    text-shadow: 1px 1px 1px #111111;
}

#menu a:hover {
    background-color: #fff;
    color: #f00;
    text-decoration: underline;
    text-decoration-color: #000;

}

#menu {
    width: 100%;
    font-size: 20px;
    font-weight: bolder;
    font-family: Verdana, 'Times New Roman', Geneva, Tahoma, sans-serif;
    background-image: url(../images/logo.jpeg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 230px;
    border-bottom: 1px solid;
    text-align: center;
    border-bottom: 1px solid #fff;
    background-color: #fff;
    color: #d64646;
    text-shadow: 1px 1px 1px #111111;
}

ul li {
    display: inline-block;
    padding: 25px;
}

#menu img {
    width: 40px;
}

::-moz-placeholder {
    color: rgb(134, 4, 4);
}

a {
    text-decoration: none;
    color: #000;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
}

.banner {
    width: 100%;
    height: 557px;
    background-image: url(https://images.unsplash.com/photo-1525328437458-0c4d4db7cab4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80);
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-padaria{
    width: 100%;
    height:557px;
    background-image: url(https://images.unsplash.com/photo-1568254183919-78a4f43a2877?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    

}

.banner-acougue{
    width: 100%;
    height: 500px;
    background-image: url(https://www.smsr.com.br/home/wp-content/uploads/2019/12/A%C3%A7ougue-S%C3%A3o-Roque3-1030x687.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    clear: both;

}

.banner-lojas{
    width: 100%;
    height: 500px;
    background-image: url(https://passaponto.com/wp-content/uploads/IMG_4376-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    margin-top: 10px;
}


.clear{
    clear: both;
}

.overplay{
    clear: both;
}
.overplay h2{
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    margin-top: 13%;
    margin-left: 45%;
    color: #fff;
    font-style: italic;
    font-size: 60px;
    
}

.sessao1{
    width: 50%;
    padding: 30px 2%;
    text-align: center;
    margin: 0 auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.conteudo1 h1{
    font-size: 45px;
    margin-top: 10px;
}

.conteudo1 p{
    font-size: 20px;
    margin-top: 10px;
    text-align: justify;
   
}

.sessao2{ 

    width: 50%;
    float: left;
    padding: 15px 2%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 20px;
   

   

}


.conteudo2{
    background-image: url(https://images.vexels.com/media/users/3/74469/preview2/c5bff3bb11350f95c961bfd93183ba91-etiqueta-do-logotipo-do-vintage-da-padaria-do-queque.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 400px;
    height: 700px;
    padding: 0 2%;
    border-radius: 10px;
    position: relative;
    
    
    
}

.overplay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.conteudo2 h2 {
        margin-top:40%;
        text-align: center;
        font-size: 40px;
        color: #fff;
        position: relative;
      
}

.overplay p{
    margin-top: 18%;
    text-align: center;
    font-size: 20px;
    color: #fff;
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.conteudo2 p {
        margin-top: 15px;
         color:#fff; 
        font-size: 20px;
        position: relative;
        font-weight: bolder;
}

.frios{
    background-image: url(https://images.unsplash.com/photo-1554602530-f415ffd0294a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1526&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 400px;
    height: 700px;
    padding: 0 2%;
    border: 10px solid #662200;
    border-radius: 10px;
    position: relative;
}

.frios h2{
    margin-top:40%;
    text-align: center;
    font-size: 40px;
    color: #fff;
    position: relative;
    margin-bottom: 10px;
}

.frios li{
        margin-top:5px;
        color:#fff; 
        font-size: 20px;
        position: relative;
        text-align: center;
        list-style: none;
        font-weight: bolder;
}

.paes{
    background-image: url(https://images.unsplash.com/photo-1554602530-f415ffd0294a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1526&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 400px;
    height: 700px;
    padding: 0 2%;
    border: 10px solid #662200;
    border-radius: 10px;
    position: relative;
    margin-bottom: 50px;
}



.paes h2{
    margin-top:40%;
    text-align: center;
    font-size: 40px;
    color: #fff;
    position: relative;
    margin-bottom: 10px;
}

.paes li{
    margin-top:5px;
    color:#fff; 
    font-size: 20px;
    position: relative;
    text-align: center;
    list-style: none;
    font-weight: bolder;
}

.starbem{
    width: 100%;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.conteudo3{
    width: 100%;
    padding: 30px;
    background:linear-gradient(to right,#fff,#f00 );
    clear: both;
}

.conteudo3 h1{
        padding: 40px;
        font-size: 45px;
        font-style: italic;
        color: #fff;

}

.rodape{
    background:linear-gradient(#fff,#f00 );
    width: 100%;
    padding: 40px;
    text-align: center;
    border-top: 10px solid #000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
}
.conteudo-rodape h3{
    font-size: 25px;
}

.conteudo-rodape p{
    font-size: 18px;
    margin: 10px 0;
}

.conteudo-rodape a{
    color: rgb(160, 156, 156);
}

.conteudo-rodape a:hover{
    text-decoration: underline;
    color: #fff;
}
.conteudo-rodape img{
        width: 30px;
        height: 30px;
        position: relative;
        top: 5px;
        margin-left: 5px;
       

}
    








