* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

.lado{
    
    width: 20%;
    height:auto;
    float: left;
    background-color: #f00;
}

.lado #listas{
    width: 100%;
    list-style-type: none;
    background-color: #f00;
    margin-top:70px ;
    
}





.lado li    {
    padding: 50px;
    display:block;
    

    border-bottom:1px solid #d64646;
}

.lado li:hover{
    background-color: #000;
    cursor: pointer;
    
}



.lado i{
    color: #fff;
    font-size: 15px;
   
}

.lado a{
    color: #fff;
    font-size: 17px;
    padding: 20px;
}

#header {
    width: 100%;
    background:linear-gradient(to right,#fff,#f00 );
    color: #fff;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    text-align: center;
    border-bottom: 1px solid #fff;
    text-shadow: 1px 1px 1px #111111;
}

#menu a:hover {
    background-color: #fff;
    color: #f00;
    text-decoration: underline;
    text-decoration-color: #000;

}

#menu {
    width: 100%;
    font-size: 20px;
    font-weight: bolder;
    font-family: Verdana, 'Times New Roman', Geneva, Tahoma, sans-serif;
    background-image: url(../images/logo.jpeg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 230px;
    border-bottom: 1px solid;
    text-align: center;
    border-bottom: 1px solid #000;
    background-color: #fff;
    color: #d64646;
    text-shadow: 1px 1px 1px #111111;
}

ul li {
    display: inline-block;
    padding: 25px;
}

#menu img {
    width: 40px;
}

::-moz-placeholder {
    color: rgb(134, 4, 4);
}

a {
    text-decoration: none;
    color: #000;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
}

.banner {
    width: 100%;
    height: 557px;
    padding: 0 2%;
    background-image: url(../images/produtos.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;

}

.overplay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.overplay h1{
        text-align: center;
        color: #fff;
        font-size: 50px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-top:10%;
        text-shadow: 4px 4px 4px #111111;

}
.overplay p{
    text-align: center;
    color: #fff;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 20px;
    text-shadow: 4px 4px 4px #111111;

}

/* input quantidade */

input[type=number]{
        width: 50%;
        margin: 10px 0;
        outline: 0;
        border: 2px solid #f00;
        height: 20px;
        border-radius: 8px;
        padding: 4px;
        -moz-appearance: none;
        -webkit-appearance: none;
        -ms-appearance:none;
        background-image: url(https://img1.gratispng.com/20180424/pze/kisspng-plus-minus-sign-plus-and-minus-signs-computer-icon-99-minus-50-5adfa5357f0293.2468459215246062615202.jpg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 97%;   
        
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}

.texto-eletronico{
   width: 100%;
   font-size: 30px;
   clear: both;
   text-align: center;
   padding: 30px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   text-shadow: 1px 1px 1px #111;
   background:radial-gradient(#fff,#f00 );
   border:2px solid;
}


/*-------------------------------------------------*/


/*-------------------------------------------------*/

.special-products-grids {
    margin: 1.3em auto;
    text-align: center;
    background-color: #fff;

}

.special-products-grid {
    border: 1px solid #E2E2E2;
    padding: 0.5em 0.5em 1em 0.5em;
    border-radius: 0.3em;
    -webkit-border-radius: 0.3em;
    -moz-border-radius: 0.3em;
    -o-border-radius: 0.3em;
    -ms-border-radius: 0.3em;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    float: left;
}

.special-products-grid:hover {
    border: 1px solid #FE3026;
}

.product-here img {
    width: 100%;
    border-bottom: 1px solid #EEE;
    display: block;
    margin-bottom: 0.5em;
}

.special-products-grid h4 {
    width: 80%;
    margin: 0 auto 0.5em;
}

.special-products-grid h4 a {
    font-weight: 600;
    color: #2E2E2E;
    margin: 0 0 1em;
    display: block;
}

.special-products-grid h4 a:hover {
    text-decoration: none;
    color: #FE3026;
}

.product-btn {
    background: #f00;
    padding: 0.4em 1em;
    color: #fff;
    border-radius: 30em;
    -webkit-border-radius: 30em;
    -moz-border-radius: 30em;
    -o-border-radius: 30em;
    -ms-border-radius: 30em;
    border: 1px solid #B64E30;
    border-top: 2px solid #B64E30;
    display: inline-block;
}

.product-btn:hover {
    text-decoration: none;
    background: #5B5B5B;
    border: 1px solid #5B5B5B;
    border-top: 2px solid #5B5B5B;
}

.product-btn span {
    padding-right: 0.3em;
    margin-right: 0.3em;
    border-right: 1px solid #888;
    display: inline-block;
}

.product-btn:hover {
    text-decoration: none;
    color: #FFf;
}

.product-btn label {
    width: 12px;
    height: 12px;
    display: inline-block;
    background: url(../images/arrow.png) no-repeat 0px 0px;
    vertical-align: middle;
    margin-left: 0.2em;
}

.special-products-grid {
    margin: 0px 15px 15px 0;
    width: 23.7%;
}

.special-products-grid:nth-child(4),
.special-products-grid:nth-child(8) {
    margin-right: 0px;
}

h4, a{
        text-shadow: 1px 1px 1px #111111;

}
 /*********************************** footer ***************************************************/
.rodape{
    background:linear-gradient(#fff,#f00 );
    width: 100%;
    padding: 40px;
    text-align: center;
    border-top: 10px solid #000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    clear: both;
   
}
.conteudo-rodape h3{
    font-size: 25px;
}

.conteudo-rodape p{
    font-size: 18px;
    margin: 10px 0;
}

.conteudo-rodape a{
    color: rgb(160, 156, 156);
}

.conteudo-rodape a:hover{
    text-decoration: underline;
    color: #fff;
}
.conteudo-rodape img{
        width: 30px;
        height: 30px;
        position: relative;
        top: 5px;
        margin-left: 5px;
       

}
    